[submodule "glbinding"]
	path = engine/external/glbinding
	url = git@github.com:cginternals/glbinding.git
[submodule "bullet3"]
	path = engine/external/bullet3
	url = git@github.com:bulletphysics/bullet3.git
[submodule "glm"]
	path = engine/external/glm
	url = git@github.com:g-truc/glm.git
[submodule "spdlog"]
	path = engine/external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "tinygltf"]
	path = engine/external/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "stb"]
	path = engine/external/stb
	url = git@github.com:nothings/stb.git
[submodule "sdl2"]
	path = engine/external/sdl2
	url = git@github.com:SDL-mirror/SDL.git
[submodule "nlohmann_json"]
	path = engine/external/nlohmann_json
	url = git@github.com:nlohmann/json.git
[submodule "windows-binaries-freetype2"]
	path = engine/external/windows-binaries/freetype2
	url = git@github.com:ubawurinna/freetype-windows-binaries.git
